
html {
    height: 100%;
}

body {
    font-family: Tahoma,Verdana,Helvetica,Geneva,Arial,sans-serif;
    font-size: 12px;
}
/*Template*/
#profile_bar{
    height:40px;
    width:100%;
    background-color: whitesmoke; 
}

#master{
    width:960px;
    margin-top:100px;
    margin: auto;
}

#message{
    width:960px;
    height:50px;
    margin-bottom: 10px;
}

header{
    width:960px;
    height:140px;
    margin-bottom:10px;
    background-color: whitesmoke;
}

#nav{
    width:960px;
    background-color: whitesmoke;
    margin-bottom:10px;
}

#main{
    width:650px;
    min-height:600px;
    background-color: whitesmoke;
    float:left;
}

aside{
    width:300px;
    height:600px;
    margin-bottom: 10px;
    margin-left:10px;
    background-color: whitesmoke;
    float:left;
}

footer{
    width:960px;
    height:20px;
    background-color: whitesmoke;
    float:left;
}

/*header*/
#header_form{
    float:right;
}

.panelgrid td, .panelgrid tr{
    border:0 !important;
    background-color: whitesmoke;
}

.log_button{
    float:right;
    margin-right:8px;
}

/*index*/

#xeneo_logo{
    height:100px;
    margin:20px;
}

/*profile*/

#profile_form{
    width:161px;
    height:40px;
    float:right;
}

.pro_font{
    margin-top:10px;
    margin-right:10px;
    font-family:Arial;
    font-size: 15px;
    color: grey;
    float:right;
    vertical-align: central;
    word-spacing: 10px;
}

/* Content */


#labels{
    width: 450px;
}
#inputs{
    width:450px;
}


.list{
    width:350px;
    text-align: right;
}

.messages{
    font-family:Arial;
    font-size: 10px;
    color: red; 
}

.buttons1{
    margin-left:27px;
    margin-top: 24px;
    margin-bottom: 20px;
}

.buttons{
    margin-left:16px;
    margin-top: 24px;
    margin-bottom: 20px;
}

#Userform{
    margin-top:10px;
    margin-left:0;
}

.headertext{
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    font-family:Arial;
    font-size: 50px;
    color: grey;
}

#ProfileDiv{
    margin-left:0px;
    margin-top:0px;
    float:left;
    width:700px;
    background-color: white;

}
#CaseTypeDiv{
    margin-left:0px;
    margin-top:0px;
    float:left;
    width:700px;
    background-color: white;
}

#CaseDiv{
    margin-left:0px;
    margin-top:0px;
    float:left;
    width:700px;
    background-color: white;
}

/*Case Type Management*/

#CaseTypeDescription{
    width: 100px;
    height:200px;
}

#CaseTypeForm{
    margin-top:10px;
    margin-left:0;
}
#CaseTypeList{
    width:300px;
    height:200px;
    background-color: grey;
    float:left;
    margin-left:20px;  
}

.availableUsers{
    height:300px;
    width:290px;
    margin:0px;
}



/*Case Management*/

#CaseForm{
    margin-top:10px;
    margin-left:0;
}

ctDropdown{
    width: 300px;
}

#multiDialog{
    width: auto;
    height: auto;
}


/*Case management*/

#inputtext{
    size: 100px;

}

.panelclass td, .panelclass tr{

    border:0 !important;
    vertical-align: top;
}

.fieldset{

    margin-top:17px;
    margin-left:20px;
    margin-right:20px;

}

.fieldset1{

    margin-top:11px;
    margin-left:20px;
    margin-right:20px;

}

.editors{

    height:100px;
    width:200px;
}
.description{
    float:top;
}


/*Customization Primefaces Elements*/

.ui-panel .ui-panel-titlebar {
  padding:4px;
}

.ui-button {
  margin-right:0;
}

