
html {
	
	height: 100%;
}

body {
	color: #666666;
	font-family: Tahoma,Verdana,Helvetica,Geneva,Arial,sans-serif;
	font-size: 12px;
	margin: 15px auto;
	width: 980px;
}
/*Template*/
#master{
    width:960px;
    margin-top:100px;
}


#masterbottom{
    width:960px;
    float:left;
}

#menue{
    width:960px;
    background-color: whitesmoke;
    
    margin-bottom:10px;}


#wrap{
    width:800px;
    height:600px;
    background-color: whitesmoke;
    float:left;
    
    
}
#rightbar{
    width:150px;
    height:400px;
    background-color: whitesmoke;
    float:left;
    
    margin-left:10px;
}

/*index*/

.menuebar{
    margin-left:0;
    margin-top:0;
}

/*profile*/

#profilepic{
    width: 39px;
    height:39px;
    margin-left: 10px;
    float:right;
}

.pro_font{
    margin-top:10px;
    margin-left: 10px;
    font-family:Arial;
    font-size: 15px;
    color: grey;
    float:left;
}

ul {
	list-style: none;	
}


/* Content */


#labels{
    width: 450px;
}
#inputs{
    width:450px;
}


.list{
    width:350px;
    text-align: right;
}

.messages{
   font-family:Arial;
   font-size: 10px;
   color: red; 
}

.buttons1{
margin-left:27px;
margin-top: 24px;
margin-bottom: 20px;
}

.buttons{
margin-left:16px;
margin-top: 24px;
margin-bottom: 20px;
}





#Userform{
    margin-top:10px;
    margin-left:0;
}

.headertext{
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    font-family:Arial;
    font-size: 50px;
    color: grey;
}

#ProfileDiv{
    margin-left:0px;
    margin-top:0px;
    float:left;
    width:700px;
    background-color: white;
    
}
#CaseTypeDiv{
    margin-left:0px;
    margin-top:0px;
    float:left;
    width:700px;
    background-color: white;
}

#CaseDiv{
    margin-left:0px;
    margin-top:0px;
    float:left;
    width:700px;
    background-color: white;
}

/*Case Type Management*/

#CaseTypeDescription{
    width: 100px;
    height:200px;
}

#CaseTypeForm{
    margin-top:10px;
    margin-left:0;
}
#CaseTypeList{
    width:300px;
    height:200px;
    background-color: grey;
    float:left;
    margin-left:20px;  
}

/*Case Management*/

#CaseForm{
    margin-top:10px;
    margin-left:0;
}

ctDropdown{
    width: 300px;
}

/*Case management*/

#inputtext{
    size: 100px;
    
}

.panelclass td, .panelclass tr{
    
    border:0 !important;
    vertical-align: top;
}

.fieldset{

    margin-top:17px;
    margin-left:20px;
    margin-right:20px;

}

.fieldset1{

    margin-top:11px;
    margin-left:20px;
    margin-right:20px;

}

.editors{
    
    height:100px;
    width:200px;
}
.description{
    float:top;
}
